<!DOCTYPE html>
<html>
<head>
    <% include ./elements/head %>
    
</head>

<body class="hold-transition sidebar-mini layout-fixed text-sm">
    <div class="wrapper">

        <!-- Navbar -->
        <% include ./elements/navbar %>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <% include ./elements/sidebar %>

        <!-- Content Wrapper. Contains page content -->
        <%- body %>
        <% include ./elements/footer %>
        <!-- ./wrapper -->
    
        <!-- script -->
        <% include ./elements/script %>
    </div>
</body>
    
</html>